<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>

<body>
    <form method="post" action="/login/" enctype=multipart/form-data>

        <label><b>Book's title</b></label><br>
        <input type="text" placeholder="Enter title" name="title" required><br>
        <label><b>Author</b></label><br>
        <input type="text" placeholder="Enter author" name="author"><br>
        <label><b>Description</b></label><br>
        <textarea placeholder="e.g. What is it about" wrap="hard" name="description"></textarea><br>
        <label><b>Publication date</b></label><br>
        <input type="date" placeholder="Enter author" name="author"><br>

        <label for="img"><b>Image</b></label><br>
        <input type="file" name="file"><br>
        <input type="submit" value="upload"><br>


        <button type="submit">Login</button><br>

    </form>
</body>

</html>